/*SOLO CSS PROPIO*/
#root{
    overflow: hidden;
}

.textstroke{

    -webkit-text-stroke: 0.5px white;
    -webkit-text-fill-color: transparent;
    
}

.overlay{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 51%, rgba(45,52,54,0.4682247899159664) 100%);
}

.textbgsize{
    font-size: 15rem;
}


/*explore button*/
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    color: #000;
    background-color: #fff;
  }
  
  .button:hover .button__icon-wrapper {
    color: #fff;
    background-color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }


  .gradientgreen{
    background: hsla(165, 60%, 11%, 1);

background: linear-gradient(90deg, hsla(165, 60%, 11%, 1) 0%, hsla(149, 54%, 31%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(165, 60%, 11%, 1) 0%, hsla(149, 54%, 31%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(165, 60%, 11%, 1) 0%, hsla(149, 54%, 31%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0B2C24", endColorstr="#247A4D", GradientType=1 );
  }


.taglinesgrow svg{
  fill: #299873;
  height: 50px;
  width: 50px;
}


/*animatons*/

@keyframes rotateblob {
        
  from { 
    rotate : 0deg;
  }
  50%{
    scale : 1 1.5;
  }
  to {
    rotate : 360deg;
  }
}

.blob{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
aspect-ratio: 1;
height: 300px;
width: 300px;
border-radius: 50%;
background-image: linear-gradient(
to right,
#f6ba6f,
mediumpurple
);

animation: rotateblob 20s infinite;
}

.blur{
position: absolute;
top: 0;
left: 0;
 right: 0;
 bottom: 0;
height: 100%;
width: 100%;
backdrop-filter: blur(200px);
}


  /*Animation infinity slide logos*/

  @keyframes slide-infinite {

    from{
        transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
    
  }

  /*LOGOS CAROUSEL*/
  .yadev-tecnologies{
    position: absolute;
   
    display: inline-block;
    height: 100px;
    white-space: nowrap;
    width: auto;
   
    background: rgb(253,172,52);
background: linear-gradient(35deg, rgba(253,172,52,1) 39%, rgba(255,152,0,1) 100%);

    overflow: hidden;
   
  }
  .yadev-tecnologies::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 60px;
      background: rgb(23, 12, 31);
      background: linear-gradient(-90deg, rgba(23, 12, 31,0) 0%, rgb(253,172,52, 1) 91%);
      z-index: 10;
      
  }
  .yadev-tecnologies::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    background: rgb(23, 12, 31);
    background: linear-gradient(90deg, rgba(246, 186, 111,0) 0%, rgb(253,172,52,1) 91%);
    z-index: 10;
}
 
 .slide-logos{
 
  animation: 120s slide-infinite infinite linear;
 }
  .slide-logos > img{
        display: inline-block;  
        height: 50px;
        max-width: 100px;
        font-size: 0;
        margin: 0 40px;
       
  }

  