/*SOLO CSS PROPIO*/
#root{
    overflow: hidden;
}

.textstroke{

    -webkit-text-stroke: 0.5px white;
    -webkit-text-fill-color: transparent;
    
}

.overlay{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 51%, rgba(45,52,54,0.4682247899159664) 100%);
}

.textbgsize{
    font-size: 15rem;
}


/*explore button*/
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    color: #000;
    background-color: #fff;
  }
  
  .button:hover .button__icon-wrapper {
    color: #fff;
    background-color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }


  .gradientgreen{
    background: hsla(165, 60%, 11%, 1);

background: linear-gradient(90deg, hsla(165, 60%, 11%, 1) 0%, hsla(149, 54%, 31%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(165, 60%, 11%, 1) 0%, hsla(149, 54%, 31%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(165, 60%, 11%, 1) 0%, hsla(149, 54%, 31%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0B2C24", endColorstr="#247A4D", GradientType=1 );
  }


.taglinesgrow svg{
  fill: #299873;
  height: 50px;
  width: 50px;
}